<!DOCTYPE html>
<html>
<head>
  <title>Lab2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
</html>

<div class="is-size-1">Signed in as <%= @first %> <%= @last %>(<%= @type %>)</div>
<div class="is-size-3">
  <p>Email: <%= @email %></p>
  <p>Courses applied for:</p>
</div>


<%= link_to "Reset Password", edit_user_registration_path, class: 'button is-danger' %>




