<div class="columns">
  <div class="column"><div class="is-size-1">Course Catalogue</div></div>
  <% if admin %>
    <div class="column" align="right" style="margin-right:5px;margin-top:5px">
      <%= link_to "Add Course", new_course_path, class: 'button is-success' %>
    </div> 
  <% end %>
</div>
<div class="filters p-3 mb-5" >
  <form name="filters" class="filters">
    <div id="filters" class="columns">
      <div class="column">
        
        <input type="text" name="course_level" id="course-level" placeholder="Enter multiples of 1000" pattern="^[1-9]{1}0{3}$" class="input">
        <label for="course_level">Level search &nbsp</label>

        
      </div>
      <div class="column">
        <input type="text" name="course_search" id="course-search" placeholder="ex: 3901", pattern="^[1-9]{1}[0-9]{3}$" class="input">
        <label for="course_search">Course search &nbsp</label>
      </div>
      <div class="column filter-select">
        <select name="ordering" id="ordering">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
        <label for = "ordering"></label>
      </div>
      <div class="column filter-select">
        <select name="term" id="term">
          <option value="">All '22 Terms</option>
          <option value="1222">Spring</option>
          <option value="1224">Summer</option>
          <option value="1228">Autumn</option>
        </select>
        <label for = "term"></label>
      </div>
      <div class = "column filter-select">
        <input type="submit" value="Filter" class="button">
      </div>
    </div>
  </form>
</div>
<table class="table is-fullwidth is-hoverable" id="parent-table">
  <thead>
    <tr>
      <th></th>
      <th>Department</th>
      <th>Campus</th>
      <th>Course Title</th>
      <th>Course Number</th>
      <th>Term</th>
      <% if admin %>
        <th>Edit</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% courses.all.each do |c| %>
      <tr>
        <!-- &#8594; is the right facing arrow code -->
        <td class='<%= "toggle course_#{c.id}" %>' data-bs-toggle="collapse" data-bs-target='#<%= "course_#{c.id}" %>'>&#8594;</td> 
        <td><%= c.department %></td>
        <td><%= c.campus %></td>
        <td><%= c.course_title %></td>
        <td><%= c.course_number %></td>
        <td><%= convert_term_code(c.term) %></td>
        <% if admin %>
          <td><%= link_to 'Edit', edit_course_path(c) %></td>
        <% end %>
      </tr>
      <tr class='<%= "collapse" %>' id='<%= "course_#{c.id}" %>'>
        <td>
          <table class="table" id="child-table">
              <thead>
                <tr>
                  <th>Section Number</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Days of the Week</th>
                  <th>Number of graders</th>
                </tr>
              </thead>
              <tbody>
                <% sections.where(course_id: c.id).each do |s| %>
                    <tr class="expandable">
                      <td><%= s.section_number %></td>
                      <td><%= get_date(s.start_time) %></td>
                      <td><%= get_date(s.end_time) %></td>
                      <td><%= get_days_of_week(s.days_of_the_week) %></td>
                      <td><%= s.number_of_graders %></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if admin %>
  <div class="column" align="left" style="margin-left:5px;margin-top:10px">  
    <%= link_to "Restore Courses", dashboard_path(@user), method: :delete, class: 'button is-danger', data: { confirm: 'Warning: Restoring courses will discard all admin changes to the course catalogue.' } %>
  </div>
<% end %>
<%== render partial: 'bulma_nav', locals: {pagy: pagy} %>
