<% if signed_in? %>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to image_tag('OSUsheet_BlockO.jpg', id: 'navbar-image', class: 'navbar-item'), root_path %>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="columns">
            <% if admin && !@on_assign_graders_page && current_user.is_approved%>
              <div class="column">
                <%= link_to "Assign Graders", assign_graders_path, class: 'button is-info', method: :get %>
              </div>
            <% end %>
            <% if admin && !@on_approval_page && current_user.is_approved %>
              <div class="column">
                <%= link_to "Approve Users", user_approval_index_path, class: 'button is-warning', method: :get %>
              </div>
            <% elsif student? %>
              <div class="column">
                <% if current_user&.courses_taken&.empty? %>
                  <%= link_to "Start Grader Application", new_grader_application_url, class: 'button is-warning', method: :get %>
                <% else %>
                  <%= link_to "Edit Grader Application", edit_grader_application_url(current_user), class: 'button is-warning', method: :get %>
                <% end %>
              </div>
            <% elsif instructor? %>
              <div class="column">
                <%= link_to "Make Recommendation", recommendation_index_path, class: 'button is-warning' %>
              </div>
            <% end %>
            <div class="column">
              <%= link_to "Profile", profile_index_path, class: 'button' %>
            </div>
            <div class="column">
              <%= link_to "Logout", destroy_user_session_path, class: 'button is-danger', method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
<% end %>
