<!DOCTYPE html>
<html>
  <head>
    <title>Lab2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'navbar',locals: { admin: admin? } %>
    <% if notice || alert %>
      <section class='<%= "notice hero #{notice ? 'is-success' : 'is-danger'} is-small" %>'>
        <p class="notice"><%= notice %></p>
        <p class="alert">
          <% alert.each do |alert| %>
            <ul><%= alert %></ul>
          <% end %>
        </p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
