.is-flex.is-justify-content-center
  .card#form
    .is-size-1.card-header.is-justify-content-center
      Course grades
    = form_with model: @user, url: grader_application_index_path, method: :post do |f|
      = render "devise/shared/error_messages", resource: @course

      #container
        .field
          = f.fields_for :courses_taken do |course_taken|
            = render 'courses_taken_fields', f: course_taken
        .links 
          .actions.is-text-align-center
          = link_to_add_association 'add course', f, :courses_taken, class: "button"

      %br
      = f.fields_for :availability do |a|
        .weekdays.is-flex.is-flex-direction-column.is-size-3.field
          Availabilities
          - %w[monday tuesday wednesday thursday friday].each do |day|
            = a.fields_for "#{day.to_sym}" do |d|
              = d.label "#{day.to_sym}", class: "is-size-5 checkbox"
              = d.check_box :is_available, class: 'weekday'
              %div{id: "#{day}-fields", class: 'hidden'}
                = d.label :start_time, class: "is-size-6"
                = d.text_field :start_time, class: 'input'
                = d.label :end_time, class: "is-size-6"
                = d.text_field :end_time, class: 'input'

      .links 
        .actions.is-text-align-center
          = f.submit "Create", class: 'button'
  
= javascript_pack_tag 'datePicker'

