<div class="is-flex is-justify-content-center">
  <div class="card" id="form">
  <div class="is-size-1 card-header is-justify-content-center">Forgot Your Password?</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="links">
    <div class="actions is-text-align-center">
      <%= f.submit "Send me reset password instructions", class: "button" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

