<div class="is-flex is-justify-content-center">
  <div class="card" id="form">
  <div class="is-size-1 card-header is-justify-content-center">Edit course</div>

  <%= form_for(@course, url: course_index_path, html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @course %>

    <div id="container"> 
      <div class="field">
        <%= f.label :department %><br />
        <%= f.text_field :department, class: 'input' %>
      </div>
      
      <div class="field">
        <%= f.label :campus %><br />
        <%= f.text_field :campus, class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :course_title %><br />
        <%= f.text_field :course_title, class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :course_number %><br />
        <%= f.text_field :course_number, class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :term %><br />
        <%= f.select :term, [['Autumn', '1228'], ['Spring','1222'],['Summer', '1224']] %>
      </div>

      <div class="links">
        <div class="actions is-text-align-center">
          <%= f.submit "Create", class: 'button' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
