<!DOCTYPE html>
<html>
  <head>
    <title>Assign Graders Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="columns">
      <div class="column">
        <div class="is-size-1">Open Sections</div>
      </div>
    </div>

  <div class="filters p-3 mb-5" >
    <form name="filters" class="filters">
      <div id="filters" class="columns">
        <div class="column">
          <input type="text" name="course_search_open" id="course-search" placeholder="ex: 3901", pattern="^[1-9]{1}[0-9]{3}$" class="input">
          <label for="course_search_open">Course search &nbsp</label>
        </div>
        <div class="column filter-select">
          <select name="ordering_open" id="ordering_open">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
          <label for = "ordering_open"></label>
        </div>
        <div class="column filter-select">
          <select name="term_open" id="term_open">
            <option value="">All '22 Terms</option>
            <option value="1222">Spring</option>
            <option value="1224">Summer</option>
            <option value="1228">Autumn</option>
          </select>
          <label for = "term_open"></label>
        </div>
        <div class = "column filter-select">
          <input type="submit" value="Filter" class="button">
        </div>
      </div>
    </form>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Course Number</th>
          <th>Section</th>
          <th>Term</th>
          <th>Graders Assigned</th>
          <th>Graders Required</th>
          <th>Click to Assign</th>
        </tr>
      </thead>
      <tbody>
        <% @open_sections.all.each do |section_var| %>
            <tr>
                <td><%= section_var.course.course_title %></td>
                <td><%= section_var.course.course_number%></td>
                <td><%= section_var.section_number %></td>
                <td><%= convert_term_code(section_var.course.term)%></td>
                <td><%= section_var.number_of_graders %></td>
                <td><%= section_var.number_of_graders_required %></td>
                <td><%= link_to "Assign", assign_grader_path(section_var), class: 'button is-info', method: :get %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%== render partial: 'bulma_nav', locals: {pagy: @pagy_open} %>
    <div class="columns">
      <div class="column">
        <div class="is-size-1">Filled Sections</div>
      </div>
    </div>
    <div class="filters p-3 mb-5" >
    <form name="filters" class="filters">
      <div id="filters" class="columns">
        <div class="column">
          <input type="text" name="course_search_filled" id="course-search" placeholder="ex: 3901", pattern="^[1-9]{1}[0-9]{3}$" class="input">
          <label for="course_search_filled">Course search &nbsp</label>
        </div>
        <div class="column filter-select">
          <select name="ordering_filled" id="ordering_filled">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
          <label for = "ordering_filled"></label>
        </div>
        <div class="column filter-select">
          <select name="term_filled" id="term_filled">
            <option value="">All '22 Terms</option>
            <option value="1222">Spring</option>
            <option value="1224">Summer</option>
            <option value="1228">Autumn</option>
          </select>
          <label for = "term_filled"></label>
        </div>
        <div class = "column filter-select">
          <input type="submit" value="Filter" class="button">
        </div>
      </div>
    </form>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Course Number</th>
          <th>Section</th>
          <th>Term</th>
          <th>Graders Assigned</th>
          <th>Graders Required</th>
          <th>Click to Assign</th>
        </tr>
      </thead>
      <tbody>
        <% @filled_sections.all.each do |section_var| %>
            <tr>
                <td><%= section_var.course.course_title %></td>
                <td><%= section_var.course.course_number%></td>
                <td><%= section_var.section_number %></td>
                <td><%= convert_term_code(section_var.course.term)%></td>
                <td><%= section_var.number_of_graders %></td>
                <td><%= section_var.number_of_graders_required %></td>
                <td><%= link_to "Assign", assign_grader_path(section_var), class: 'button is-info', method: :get %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%== render partial: 'bulma_nav', locals: {pagy: @pagy_filled} %>
  </body>
</html>
