<!DOCTYPE html>
<html>
<head>
  <title>Lab3</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
</html>

<div class="is-flex is-justify-content-center">
  <div class="card" id="form">
    <div class="is-size-1 card-header is-justify-content-center">Signed in as <%= @user.first_name %> <%= @user.last_name %>(<%= @user.user_type %>)</div>
      <div class="links">
        <div class="actions is-text-align-center">
          <div class="is-size-3">
            <p>Email: <%= @user.email %></p>
            <% if student? %>
              <table id="form">
                <thead>
                <tr>
                  <th>Courses applied for:</th>
                </tr>
                </thead>
                <tbody>
                  <% CoursesTaken.where(user_id: current_user.id).each do |c| %>
                  <tr>
                    <td><%= get_course_title(c.course_number) %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <br>
            <% elsif instructor? %>
              <table class="table is-fullwidth" id="profile-table">
              <thead>
              <tr>
              <th>Student Requested</th>
              <th>Section</th>
              </tr>
              </thead>
              <tbody>
              <% Section.where(instructor_id: @user.id).each do |s| %>
              <tr>
                <td><%= get_requests(s.section_number) %></td>
                <td><%= s.section_number %></td>
              </tr>
              <% end %>
              </tbody>
              </table>
            <% end %>
          </div>
          <%= link_to "Reset Password", edit_user_registration_path, class: 'button is-danger' %>
        </div>
      </div>
    </div>
  </div>






